<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737435938124-51amd5efadu1hivcks0tqblppl3svjsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737435938124-51amd5efadu1hivcks0tqblppl3svjsk</string>
	<key>API_KEY</key>
	<string>AIzaSyD3qAaFIrc5LxOuVn-iD6-xNJnf-fDM_Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>737435938124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hana.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-167f2</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-167f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:737435938124:ios:0244ad8c96d87d482473e9</string>
</dict>
</plist>
